$MyPageFontColor: #58595b;

.passwordChageContainer {
    width: 402px;
    margin: 20px auto;

    color: $MyPageFontColor;

    .passwordChage {
        font-size: 20px;
        margin-top: 24px;
        .passwordInput {
            width: 402px;
            height: 45px;
            font-size: 20px;
            outline: none;
            padding-left: 30px;
            border-radius: 7px;
            border: 1px solid #abaeb5;
            margin-top: 10px;

            ::placeholder {
                color: #abaeb5;
            }
        }
    }
}
