$loginModalTextColor: #abaeb5;

.signContainer {
    width: 579px;
    height: 791px; //891px
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 85%;
    right: 35.3%;

    .signInContainer {
        display: flex;
        flex-direction: column;
        padding: 0 80px;
        height: 100%;

        h1 {
            font-size: 30px;
            font-weight: bold;
            font-family: "Nanum";
            text-align: center;
            margin-top: 100px;
        }

        .userInput {
            display: flex;
            // height: 140px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: 1px solid lightgray;
            margin-bottom: 30px;
            padding-top: 40px;

            input {
                width: 422px;
                height: 60px;
                border: 1px solid $loginModalTextColor;
                border-radius: 7px;
                padding-left: 35px;
                letter-spacing: 2px;
                outline: none;
                font-size: 20px;
            }
            input::placeholder {
                color: $loginModalTextColor;
            }

            .userId {
                margin-bottom: 20px;
            }
        }

        .stayLogged {
            display: flex;
            align-items: center;
            margin-bottom: 28px;

            input {
                margin-right: 9px;
                width: 22px;
                height: 22px;
                // -webkit-appearance: none;
                // -moz-appearance: none;
                // appearance: none;
                border: 1px solid $loginModalTextColor;
                border-radius: 3px;
                outline: none;
            }

            span {
                font-size: 18px;
                color: $loginModalTextColor;
                font-weight: 100;
            }
        }

        .buttonZone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid lightgray;
            padding-bottom: 26px;

            .loginBtn {
                width: 422px;
                height: 60px;
                border-radius: 7px;
                background-color: #547aff;
                font-size: 24px;
                color: #ffffff;
                border-style: none;
                cursor: pointer;
            }

            div {
                display: flex;
                justify-content: center;
                margin-top: 29px;

                span {
                    font-size: 15px;
                    color: $loginModalTextColor;
                    font-weight: 100;
                    margin-right: 17px;
                }

                a {
                    font-size: 15px;
                    color: $loginModalTextColor;
                    font-weight: bold;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .socialLogin {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            margin-bottom: 80px;

            .kakaoLogin {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 82px;
                cursor: pointer;

                img {
                    width: 65px;
                }

                span {
                    color: $loginModalTextColor;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }

            .naverIdLogin {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 65px;
                }

                span {
                    color: $loginModalTextColor;
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
    }
}
