.Btn {
    background-color: white;
    border-radius: 40px;
    .plus {
        background-color: #547aff;
        border-radius: 100%;
        padding: 1px;
        margin: 0 auto;
    }
    .clickIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding-top: 15px;
    }
}
