.modalBackGround {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);

    .timeSelect {
        border-bottom: 1px solid black;
        width: 80%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .colorModal {
        position: absolute;
        top: 30%;
        left: 70%;
    }
    .card {
        background: white;
        border-radius: 8px;
        width: 526px;
        min-width: 526px;
        padding: 40px 10px 10px 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .iconBtn {
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }
        .cardContent {
            width: 80%;
            .modalx {
                width: 100%;
                height: 10px;
                padding-right: 15px;
                margin-bottom: 10px;
                display: flex;
                justify-content: end;
                cursor: pointer;
            }

            .contents {
                display: flex;
                align-items: center;
                width: 80%;
                height: 137px;

                button {
                    border: none;
                    background-color: white;
                    color: #abaeb5;
                }
            }
            .contentsMemo {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                button {
                    border: none;
                    background-color: white;
                    color: #abaeb5;
                }
                .linkIcon {
                    margin-top: -10px;
                }
                .textArea {
                    border-radius: 8px;
                    outline: none;
                    height: 138px;
                    width: 90%;
                    border: 1px solid black;
                }
            }
            .link {
                display: flex;
                justify-content: flex-start;

                button {
                    border: none;
                    background-color: white;
                    color: #abaeb5;
                }
                .linkIcon {
                    margin-top: -10px;
                }
                .inputline {
                    border-radius: 8px;
                    outline: none;
                    height: 62px;
                    width: 90%;
                    border: 1px solid black;
                }
            }
        }

        .timeSelector {
            display: flex;
            justify-content: space-evenly;

            select {
                width: 30%;
                height: 100%;
                text-align: center;
                border-radius: 8px;
            }
        }

        .selectColor {
            border-top: 1px solid black;
            width: 80%;
            padding: 5px;
            overflow: auto;
        }

        .cardTitle {
            width: 80%;
            height: 50px;
            margin-top: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                background: none;
                padding-bottom: 15px;
                padding-left: 10px;
                font-size: 26px;
                font-family: "Inter", Courier, monospace;
            }
        }

        .contents {
            height: 15vh;
            width: 100%;
            display: flex;
            display: flex;
            justify-content: center;

            textarea {
                border-radius: 8px;
                width: 70%;
                height: 90%;
                border: 1px solid black;
                padding: 5px;
                resize: none;
            }
        }
    }

    .colorModal {
        display: flex;
        margin-left: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
