.navWrapper {
    height: 96px;
    // width: 100vw;
    min-width: 860px;
    padding: 30px 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    position: relative;

    .logo {
        white-space: pre-line;
        cursor: pointer;

        img {
            width: 118px;
            height: 49px;
        }
    }

    .login {
        text-align: center;

        .nickName {
            cursor: pointer;
            color: white;
            margin-right: 32px;
        }

        .loginText {
            cursor: pointer;
            color: white;
        }
    }
}
