.btnstyle {
    .select {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: none;
        background-color: skyblue;
        width: 60px;
        height: 23px;
        margin-bottom: 3px;
    }
    .unselect {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        border: none;
        background-color: white;
        width: 60px;
        height: 23px;
        margin-bottom: 3px;
    }
}
